.login-Main {
  background-image: url("../../../img/waveUp.svg");
  /* url("../../../img/waveUp.svg"); wave1 bottom, no-repeat,*/
  background-position: top;
  background-repeat: no-repeat;
}

.margin {
  width: 40%;
  margin: auto;
  border: 1px solid #fff;
  text-align: left;
  border-radius: 20px;
  justify-content: center;
  padding: 20px;
  background-color: rgba(29, 29, 29, 0.3);
}

@media only screen and (max-width: 1200px) {
  .margin {
    width: 60%;
  }
}
@media only screen and (max-width: 600px) {
  .margin {
    width: 70%;
  }
}
@media only screen and (max-width: 425px) {
  .margin {
    width: 70%;
  }
}
